/*
 * mc标准样式
 * Layer组件
 * 版本：v1.5.0
 * 最后更新: 2018-06-29
 */

/**
 * mc-默认皮肤
 */
.mc-layer-default .layui-layer-title {
	background: #1e9fff;
	color: #fff;
	border: none;
}

.mc-layer-default .layui-layer-btn {
	border-top: 1px solid #E9E7E7
}

.mc-layer-default .layui-layer-btn a {
	background: #1e9fff;
	border: 1px solid #1896f4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0 30px;
	transition: .3s;
}

.mc-layer-default .layui-layer-btn a:hover {
	box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-o-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	background: #1b99f6;
	border-color: #1896f4;
}

.mc-layer-default .layui-layer-btn .layui-layer-btn1 {
	background: #ffffff;
	border: 1px solid #ccc;
}

.mc-layer-default .layui-layer-btn .layui-layer-btn1:hover {
	box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-o-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	background: #ffffff;
	border-color: #1896f4;
}

/**
 * mc-蓝色皮肤
 */
.mc-layer-blue .layui-layer-title {
	background: #1e9fff;
	color: #fff;
	border: none;
}

.mc-layer-blue .layui-layer-btn {
	border-top: 1px solid #E9E7E7
}

.mc-layer-blue .layui-layer-btn a {
	background: #1e9fff;
	border: 1px solid #1896f4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0 30px;
	transition: .3s;
}

.mc-layer-blue .layui-layer-btn a :hover {
	box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-o-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	background: #1b99f6;
	border-color: #1896f4;
}

.mc-layer-blue .layui-layer-btn .layui-layer-btn1 {
	background: #ffffff;
	border: 1px solid #ccc;
}

.mc-layer-blue .layui-layer-btn .layui-layer-btn1 :hover {
	box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-o-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	background: #ffffff;
	border-color: #1e9fff;
}

/**
 * mc-亮蓝皮肤
 */
.mc-layer-lightblue .layui-layer-title {
	background: #00bbfe;
	color: #fff;
	border: none;
}

.mc-layer-lightblue .layui-layer-btn {
	border-top: 1px solid #E9E7E7;
}

.mc-layer-lightblue .layui-layer-btn a {
	background: #00bbfe;
	border: none;
}

.mc-layer-lightblue .layui-layer-btn .layui-layer-btn1 {
	background: #ccc;
}

/**
 * 弹出框按钮类
 */
.layui-layer-btn a {
	color: #333 !important;
}

.layui-layer-btn .layui-layer-btn0 {
	color: #fff !important;
}

.layui-layer {
	box-shadow: none;
}

.layui-layer-title {
	height: 35px !important;
	line-height: 35px !important;
	font-size: 14px !important;
}

.layui-layer-setwin {
	top: 10px !important;
}

.layui-layer-close1 {
	top: 3px;
}

.layui-layer-btn {
	padding: 0 10px 5px 0 !important;
}

.layui-layer-btn0:hover {
	box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-o-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	background: #1b99f6!important;
	border-color: #1896f4!important;
	opacity: 1!important;
}

.layui-layer-btn1:hover {
	border: 1px solid #1896f4 !important;
	box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
	-o-box-shadow: 0px 0px 3px rgba(51, 51, 51, .2);
}

.layui-layer-setwin .layui-layer-close1 {
	background-position: -80px -42px !important;
}

.layui-layer-setwin .layui-layer-max {
	background-position: -32px -40px !important;
}

.layui-layer-setwin .layui-layer-max:hover {
	opacity: 0.7;
}

.layui-layer-setwin .layui-layer-min cite {
	background-color: #ffffff !important;
}

.layui-layer-setwin .layui-layer-min:hover cite {
	opacity: 0.7;
}

/**
 * 轻量级提示
 */
.layui-layer-lan {
	box-shadow: 5px 5px 0px rgba(0, 0, 0, .025) !important;
	background: #c7e7ff !important;
}

.layui-layer-lan.layui-layer-border {
	border: none;
}

.layui-layer-border .layui-layer-padding {
	padding: 15px 20px 15px 55px !important;
}

.layui-layer-lan[type="dialog"] {
	min-width: 210px !important;
}

.layui-layer-border .layui-layer-ico {
	top: 12px !important;
}

/**
 * 弹出框/提示框图标
 */
.layui-layer-ico {
	background: url(../images/ui/mc-layer-icon.png) no-repeat !important;
}

.layui-layer-setwin .layui-layer-max {
	background-position: -16px -40px;
}

/**
 * 气泡tips
 */
.layui-layer-tips .layui-layer-content {
	padding: 5px 10px !important;
	background: #54b6ff !important;
}

.layui-layer-tips i.layui-layer-TipsL,
.layui-layer-tips i.layui-layer-TipsR {
	border-bottom-color: #54b6ff !important;
}

.layui-layer-tips i.layui-layer-TipsT,
.layui-layer-tips i.layui-layer-TipsB {
	border-right-color: #54b6ff !important;
}