/*
 * 首页功能样式
 */

/*
左菜单栏底色
*/
.layui-bg-black {
	background-color: #ecf4ff !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.layui-header {
	height: 55px;
	z-index: 2;
}

.layui-nav .layui-nav-item {
	line-height: 55px;
}

/*
顶部header文本色
*/
.layui-nav .layui-nav-item a {
	/* color: rgba(255,255,255,.7); */
}

.layui-layout-admin .layui-side, .layui-layout-admin .layui-body {
	top: 55px;
}

/*
顶部菜单右移
*/
.layui-layout-left {
	/*left:250px;*/
	position: static !important;
}

.layui-layout-left .layui-nav-item {
	position: static !important;
	width: auto;
}

.layui-layout-left .layui-nav-item > a {
	position: relative;
	text-align: center;
}

.layui-layout-left .layui-nav-item.layui-this:after {
	left: auto;
	right: auto;
	width: auto;
}

.layui-layout-left .layui-nav-item.layui-this a:after {
	position: absolute;
	content: '';
	left: 0;
	top: auto;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: #00dfca;
}

.layui-layout-left .layui-nav-item .layui-nav-child {
	left: auto;
	right: auto;
	min-width: 100px;
	width: 100px;
}

.frame-nav-toogle {
	position: absolute;
	left: 216px;
	top: 20px;
	display: inline-block;
	cursor: pointer;
	width: 17px;
	height: 15px;
	opacity: .7;
	filter: alpha(opacity=70);
	background-image: url(../../resources/images/nav-toggle.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: .38s;
	-webkit-transition: .38s;
	z-index: 3;
}

.frame-nav-toogle:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.frame-toggle-h {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.frame-toggle-v {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*
顶部滚动左右箭头
*/
.frame-scroll-arrow {
	width: 20px;
	height: 20px;
	z-index: 2;
	position: absolute;
	/*display: none;*/
	cursor: pointer;
	top: 18px;
	opacity: .7;
	filter: alpha(opacity=70);
	transition: .38s;
	-webkit-transition: .38s;
}

.frame-scroll-arrow:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.frame-scroll-arrow.frame-arrow-left {
	left: 335px;
	background: url(../scrollNav/arrow-left.png) no-repeat center;
}

.frame-scroll-arrow.frame-arrow-right {
	right: 190px;
	background: url(../scrollNav/arrow-right.png) no-repeat center;
}

.frame-index-module {
	position: absolute !important;
	left: 250px;
	z-index: 3;
}

.frame-index-module:after {
	content: '';
	top: 17px;
	right: -15px;
	position: absolute;
	width: 1px;
	height: 21px;
	background: #00b0a0;
}

.frame-index-module > li.layui-nav-item,
.frame-index-module > li.layui-nav-item.layui-this:after {
	width: auto;
}

.frame-module-box {
	/*position:absolute;
	left:270px;
	right:210px;
	top:0;*/
	height: 100%;
	overflow: hidden;
	/*margin-left: 355px;
	margin-right: 210px;*/
	/*white-space: nowrap;*/
}

.frame-navCover {
	position: absolute;
	height: 100%;
	background: #009688;
	top: 0;
	z-index: 2;
}

.frame-left-cover {
	left: 0;
	width: 355px;
}

.frame-right-cover {
	right: 0;
	width: 210px;
}

/*
顶部header背景色
*/
.layui-layout-admin .layui-header {
	background: #009688;
}

.layui-layout-admin .layui-logo {
	color: #ffffff;
	line-height: 55px;
	z-index: 3;
}

.layui-nav.layui-layout-right {
	z-index: 3;
}

.layui-nav.layui-layout-right:after {
	content: '';
	top: 17px;
	left: 2px;
	position: absolute;
	width: 1px;
	height: 21px;
	background: #00b0a0;
}

/*
一级菜单底边线色
*/
.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
	background: #00dfca;
}

/*
二级菜单左边线色
*/
.layui-nav-tree .layui-nav-bar {
	background-color: #009688;
}

/*
二级菜单背景色
*/
.layui-nav {
	background: #c9ebe8;
}

/*
三级菜单背景色
*/
.layui-nav-itemed .layui-nav-child {
	/*background-color:#e0f6f4!important;*/
	background-color: #ecf4ff !important;
}

/*
二级菜单文本色、边框色
*/
.layui-nav-tree .layui-nav-item a {
	color: #009688 !important;
	/*border-top:1px solid #b5dbd8;*/
	border-bottom: 1px solid #b5dbd8;
	line-height: 45px;
	font-weight: normal;
	position: relative;
	padding: 0 20px 0 30px;
}

/*
模块、菜单附带图标样式
*/
.fa-lg {
	font-size: 1.33333333em !important;
}

.fa-2x {
	font-size: 2em !important;
}

.fa-3x {
	font-size: 3em !important;
}

.fa-4x {
	font-size: 4em !important;
}

.fa-5x {
	font-size: 5em !important;
}

.fa-lg:before {
	font-size: inherit !important;
}

.fa-2x:before {
	font-size: inherit !important;
}

.fa-3x:before {
	font-size: inherit !important;
}

.fa-4x:before {
	font-size: inherit !important;
}

.fa-5x:before {
	font-size: inherit !important;
}

.layui-nav-tree .layui-nav-item a > i {
	position: absolute;
	left: 11px;
	top: 16px;
}

.layui-nav-tree .layui-nav-child a > i {
	position: absolute;
	left: 21px;
	top: 12px;
}

/*
三级菜单文本色
*/
.layui-nav-tree .layui-nav-child a {
	color: #333333 !important;
	border-top: none;
	border-bottom: none;
	line-height: 40px;
	font-weight: normal;
	padding-left: 46px;
}

/*
二级、三级菜单hover背景色
*/
.layui-nav-tree .layui-nav-item a:hover {
	background-color: #c9ebe8;
	color: #333333;
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a {
	/* background-color:#e3e8ec; */
	background-color: none;
	color: #009688;
	/* color:#4184e3!important; */
	color: #ffffff !important;
}

.layui-nav .layui-nav-more {
	margin-top: -3px!important;
	top: 26px;
}

.layui-nav .layui-nav-mored {
	top: 20px;
}

.layui-nav-itemed > a .layui-nav-more {
	border-color: transparent transparent #009688;
}

/*
二级菜单右-下三角图标
*/
.layui-nav-tree .layui-nav-more {
	top: 20px;
	margin-top: 0!important;
	border-color: #009688 transparent transparent;
}

/*
二级菜单右-上三角图标
*/
.layui-nav-itemed .layui-nav-more {
	top: 13px;
	margin-top: 0!important;
	border-color: transparent transparent #009688;
}

.layui-body {
	border-left: 1px solid #d2d7db;
	/*padding:0 20px;*/
	background: #f2f6f6;
	z-index: 1;
}

.layui-side {
	z-index: 1;
}

/*
三级菜单选中背景色
*/
.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav-child dd.layui-this {
	background-color: #009688;
}

/*
面包屑导航
*/
.layui-breadcrumb a cite,
.layui-breadcrumb a span {
	font-size: 12px !important;
}

/*.layui-this:hover a{
	background-color: #009688;
}*/
.layui-nav {
	padding: 0;
}

.layui-nav-tree .layui-nav-item[leaf='1'] {
	background: #e0f6f4;
}

.layui-nav-tree .layui-nav-item.layui-this a {
	font-weight: bold !important;
	color: #fff !important;
	background: #009688;
}

/*
处理滚动条
*/
.layui-side,
.layui-side-scroll {
	/*overflow: hidden;*/
}

.layui-side-scroll {
	position: relative;
	width: 200px;
}

.mCSB_inside > .mCSB_container {
	margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #fff !important;
	background-color: rgba(255, 255, 255, 0.4) !important;
	filter: "alpha(opacity=40)!important";
	-ms-filter: "alpha(opacity=40)!important";
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #000 !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	filter: alpha(opacity=30) !important;
	-ms-filter: alpha(opacity=30) !important;
}

.mCSB_scrollTools {
	width: 5px !important;
}

.frame-favorite {
	display: inline-block;
	float: right;
	height: 30px;
	line-height: 30px;
	transition: .3s;
	-webkit-transition: .3s;
}

.frame-favorite > i {
	vertical-align: middle;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 0 3px;
}

.frame-favorite > i.frame-icon-favorite {
	background: url(../../resources/images/favorite.png) no-repeat center;
}

i.frame-icon-favorited {
	background: url(../../resources/images/favorited.png) no-repeat center;
}

.frame-favorite > span {
	font-size: 12px;
	vertical-align: middle;
}

/*
收藏动画
*/
.frame-ani-favorite {
	position: fixed;
	z-index: 100;
	display: inline-block;
	background: url(../../resources/images/favoriting.png) no-repeat center;
	width: 18px;
	height: 18px;
	animation: favorite 1s;
	-webkit-animation: favorite 1s;
	display: none;
}

.frame-ani-favorite-num {
	position: fixed;
	color: #f39b12;
	font-size: 14px;
	font-weight: bold;
	z-index: 100;
	display: inline-block;
	animation: favoriteNum 3s;
	-webkit-animation: favoriteNum 3s;
	display: none;
}

/*
图标动画
*/
@keyframes favorite {
	0% {
		right: 60px;
		top: 60px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		right: 80px;
		top: 100px;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		right: 100px;
		top: 8px;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes favorite {
	0% {
		right: 60px;
		top: 60px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		right: 80px;
		top: 100px;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		right: 100px;
		top: 8px;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes favorite {
	0% {
		right: 60px;
		top: 60px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		right: 80px;
		top: 100px;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		right: 100px;
		top: 8px;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*
数字动画
*/
@keyframes favoriteNum {
	0% {
		right: 100px;
		top: 5px;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	30% {
		right: 100px;
		top: 2px;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	100% {
		right: 100px;
		top: 2px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

@-webkit-keyframes favoriteNum {
	0% {
		right: 100px;
		top: 5px;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	30% {
		right: 100px;
		top: 2px;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	100% {
		right: 100px;
		top: 2px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

@-moz-keyframes favoriteNum {
	0% {
		right: 100px;
		top: 5px;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	30% {
		right: 100px;
		top: 2px;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	100% {
		right: 100px;
		top: 2px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

