.frameBody
{
	background: #f5f5f5;
	min-width: 1000px;
	overflow: hidden
}
.panelFrameTop,.panelFrameCenter,.panelFrameBottom
{
	position: absolute;left: 0;width: 100%;
}
.panelFrameTop
{
    text-align: center;
    /*background: #f7f7f7;border-bottom: 1px solid #ddd;*/
    background: #009688;/*border-bottom: 1px solid #418ACC;*/
    min-width: 1000px;overflow: hidden;
    /*background-image: url(../img/topHeaderBg.png);*/
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
}
.panelFrameTop ul{padding: 0 10px;}
.panelFrameTop ul li
{
    float: left;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    width: 60px;
    text-align: center;
    position: relative;
    margin: 0 1px;
}
/* .panelFrameTop ul li:after
{
    content: '';
    position: absolute;
    width: 1px;height: 40px;top: 10px;right: -1px;background: #7dddff;
} */
.panelFrameTop ul li button{
    outline: none;
    width: 100%;
    position: relative;
    background: none;
    display: block;
    padding: 5px;
    border: none;
    transition: .3s;
    -webkit-transition: .3s;
    color: #fff;
    cursor: pointer;
}
.panelFrameTop ul li button:hover
{
	background: #008579;color: #fff;
} 
.panelFrameTop ul li button:hover .menuIcon{
	animation: menuIcon .2s;
	-moz-animation: menuIcon .2s;	/* Firefox */
	-webkit-animation: menuIcon .2s;	/* Safari �� Chrome */
	-o-animation: menuIcon .2s;
}

@keyframes menuIcon
{
from {transform: scale(0);}
to {transform: scale(1);}
}

@-moz-keyframes menuIcon /* Firefox */
{
from {transform: scale(0);}
to {transform: scale(1);}
}

@-webkit-keyframes menuIcon /* Safari �� Chrome */
{
from {transform: scale(0);}
to {transform: scale(1);}
}

@-o-keyframes menuIcon /* Opera */
{
from {transform: scale(0);}
to {transform: scale(1);}
}

.panelFrameTop ul li button span{display: block;font-size: 12px;}

.panelTopCenter{position: absolute;text-align: center;right: 82px;}
.panelTopCenter h1{font-size: 20px;color: #fff;line-height: 60px;}

.panelTopRight{float: right}
.panelTopRight li button:hover{background: #008579!important;color:#fff;}
.panelTopRight li:after{display: none}

.panelFrameCenter {
	top: 61px;
	padding: 5px 0;
}
.innerWrap
{
    background: #fff;
    border-bottom:1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
/*    overflow-y: auto;*/
}

.panelFrameBottom{bottom: 0;height: 160px;background: #f7f7f7;/*border-top: 1px solid #ddd;*/}
.drag
{
	position: absolute;
	left: 0;
	top: -10px;
	height: 5px;
	width: 100%;
	cursor: n-resize;
	border-top: 1px solid #ddd;
}

.menuIcon {display: block;width: 48px;height: 32px;margin: 0 auto;}
.icon_sq{background: url(../images/theme01/icon_sq.png) no-repeat center;}
.icon_ty{background: url(../images/theme01/icon_ty.png) no-repeat center;}
.icon_th{background: url(../images/theme01/icon_th.png) no-repeat center;}
.icon_zb{background: url(../images/theme01/icon_zb.png) no-repeat center;}
.icon_znb{background: url(../images/theme01/icon_znb.png) no-repeat center;}
.icon_bty{background: url(../images/theme01/icon_bty.png) no-repeat center;}
.icon_dy{background: url(../images/theme01/icon_dy.png) no-repeat center;}
.icon_lct{background: url(../images/theme01/icon_lct.png) no-repeat center;}
.icon_dsp{background: url(../images/theme01/icon_dsp.png) no-repeat center;}
.icon_close{background: url(../images/theme01/icon_close.png) no-repeat center;}

.tab_header_group_div
{
	overflow: hidden;
	margin: 0 5px;
	border-bottom: 1px solid #009688;
	height: 25px;
	line-height: 25px; /*padding-top: 10px;*/
}

.tab_header_group
{
	padding-left: 6px;
}

.tab_header_group span
{
	display: inline-block;
	padding: 0px 20px;
	color: #333;
	cursor: pointer;
	font-size: 13px;
}

.tab_header_group span.current
{
	background: #009688;
	color: #fff;
}

.tab_content
{
    position: absolute;
    top:31px;
    bottom: 0px;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    left:0;
    right:0;
    padding: 5px;
}

.panel_frame_bottom_btn_group
{
	padding: 0 10px;
}

.panel_frame_bottom_btn
{
	cursor: pointer;
	color: #FFF;
	height: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 0px 15px;
	display: inline-block;
}

a.panel_frame_bottom_btn{
	line-height: 30px;
}

.panel_frame_bottom_btn:hover
{
	background: #019ce4;
	border: 1px solid #0180bb;
}

.panel_frame_bottom_btn:hover i, .panel_frame_bottom_btn:hover span
{
	color: #fff;
}

.panel_frame_bottom_btn.active
{
	background: #27bdff;
	border: 1px solid #27bdff;
}

.panel_frame_bottom_btn.active i, .panel_frame_bottom_btn.active span
{
	color: #fff;
}

.panel_frame_bottom_btn i, .panel_frame_bottom_btn span
{
	font-size: 12px;
	color: #fff;
	-webkit-transition: color 0s;
	-moz-transition: color 0s;
	-o-transition: color 0s;
	-ms-transition: color 0s;
	transition: color 0s;
}

.panel_frame_bottom_btn_orange
{
    background: #e8990f;
    border: 1px solid #d18807;
}
.panel_frame_bottom_btn_green
{
    background: #00ce91;
    border: 1px solid #00bf87;
}
.panel_frame_bottom_btn_green:hover
{
    background: #02dc9b;
    border: 1px solid #00bf87;
}
.panel_frame_bottom_btn_orange:hover
{
    background: #f3a41a;
    border: 1px solid #d18807;
}
.spWrap
{
	background: #fff;
	height: 70px;
	margin: 5px 10px;
	padding: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ddd;
}
.spWrap textarea
{
	width: 100%;
	height: 100%;
	border: none;
	resize: none;
}