<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- workflow工作流配置入口 -->

	<!-- 初始化WorkflowBeanCofnig -->
	<bean class="com.newtouch.workflow.app.common.WfBeanConfigFactory">
		<!-- 使用newtouch-workflow-core.jar组件内置默认配置 -->
		<property name="propertyFile" value="classpath*:/WfBeanFactory.properties" />
	</bean>

	<!-- 初始化表单实体类配置 -->
	<bean class="com.newtouch.workflow.entitydata.config.WfEntityXmlConfigFactory">
		<!-- 配置文件 -->
		<property name="xmlConfigFile" value="classpath*:/workflow/wf-entity.xml" />
		<!-- 业务实体表持久化时是否显示sql语句 -->
		<property name="showSql" value="true" />
		<!-- 输出debug信息到控制台 -->
		<property name="debug" value="true" />
	</bean>

	<!-- 默认报账单编号实现类 -->
	<bean class="com.newtouch.workflow.app.bp.DefaultFormSerialNoBP" />

	<!-- 初始化xxx -->

	<!-- 初始化xxx -->
</beans>